body {
  margin: 0;
  font-family: sans-serif;
  padding-top: 120px;
}
/* Header definitions */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}
 
.site-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
}
.site-title {
  flex: 1;               /* vie vasemman tilan */
  text-align: center;
  margin: 0;
}

.header-logo {
  max-height: 60px;
  width: auto;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

/* Navigation bar */

nav { 
  margin-top: 15px;
}

.main-nav {
  flex-basis: 100%;      /* Forces to next line */
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
/* Body */
body {
  padding-top: 140px;
}

/* Main */
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: white;
}

main img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.footnotes dt {
  float: left;
  width: 2em;
  font-size: 1.0em

}

.footnotes dd {
  margin-left: 2em;
}

/* Footer */
footer img {
  max-height: 60px;
  vertical-align: left-side;
}

footer {
  background-color: #eee;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #333;
}


